.inputContainer {
  position: relative;
  margin-bottom: 1rem;
}

.icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0.4rem;
  font-size: 2rem;
  color: var(--gray-300);
}

.input {
  width: 100%;
  padding: 1rem 2.8rem;
  /* Espaço à esquerda para o ícone */
  border: 1px solid var(--gray-300);
  border-radius: var(--radius);
  font-size: 16px;
  outline: none;
}

.input:focus {
  border-color: var(--secundary-blue-alfa);
}

.label {
  position: absolute;
  left: 40px;
  /* Alinhado com o ícone */
  top: 50%;
  transform: translateY(-50%);
  background-color: white;
  border-radius: var(--radius);
  padding: 0 5px;
  color: var(--gray-300);
  font-size: 16px;
  pointer-events: none;
  transition: all 0.2s ease-out;
}

.labelFocused {
  top: 0;
  left: 35px;
  font-weight: 600;
  /* Ajustado para permanecer dentro do input */
  transform: translateY(-50%) scale(0.8);
  color: var(--secundary-blue-alfa);
}