@media (max-width: 768px) {
  .mainNotMobile {
    display: none;
  }

  .mainMobile {
    background-color: var(--primary-red-dark);

    min-height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    padding: 0.8rem;
  }

  .mainMobile>img {
    width: 100px;
    margin-bottom: 2rem;
  }

}

@media (min-width: 769px) {
  .mainMobile {
    display: none;
  }


  .content {
    min-height: calc(100vh - 160px);
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1rem;
    gap: 1rem;
  }

}